/.env
/Dockerfile
/__pycache__
/config.py
/discord.log
/cogwatch.log
/jac_log*
/pretty_help
/read_dbs.py
/todo
/warnings.db
/cogs/__pycache__
/base
timed_events.db
lord-franklin-bot.xml
launch.sh
script.sh
.vscode
